@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap');

#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
}

body {
  background-color: var(--very-dark-blue);
}

:root {
  --dark-blue: hsl(209, 23%, 22%);
  --very-dark-blue: hsl(207, 26%, 17%)
  --very-dark-blue: hsl(200, 15%, 8%)
  --dark-gray: hsl(0, 0%, 52%)
  --very-light-gray: hsl(0, 0%, 98%)
  --white: hsl(0, 0%, 100%)
}

p {
  margin: 0;
  font-size: 14px;
}

.topnav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.topnav ul {
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.topnav li {
  list-style: none;
}

.topnav a {
  color: white;
}

.site-title,
.dark-mode-toggle {
  flex: 1;
  padding: 2rem;
}

.site-title {
  font-size: 2rem;
  font-weight: bold;
}

.dark-mode-toggle {
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 1rem;
  margin: 2rem;
}

.detail-wrapper {
  font-size: 16px;
}

.flag {
  width: 264px;
  height: 160px;
  border-radius: 5px 5px 0px 0px;
}

.country-card {
  text-align: left;
  width: 264px;
  height: 336px;
  border-radius: 0px 0px 5px 5px;
  margin: 1rem;
  gap: 1rem;
  background-color: var(--dark-blue);
}

.info-title {
  font-weight: bold;
}

.country-info {
  padding: 0 1rem;
}

.country-info img {
  padding: 0;
}