#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.topnav {
  width: 90vw;
}

.topnav ul {
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.topnav li {
  list-style: none;
}

.topnav a {
  color: white;
}

.site-title {
  font-size: 2rem;
  font-weight: bold;
  float: left;
}

.clear {
  clear: both;
}

.dark-mode-toggle {
  color: white;
  font-weight: bold;
  cursor: pointer;
  float: right;
}


.card {
  width: 264px;
  height: 336px;
  border-radius: 0px 0px 5px 5px;
  border: 1px solid blue;
  padding: 10px;
}

.flag {
  width: 264px;
  height: 160px;
  border-radius: 5px 5px 0px 0px;
}

.country-infos {
  text-align: left;
}

.info-title {
  font-weight: bold;
}